
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage3.cshtml";
}
<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a>@Html.ActionLink("Home", "Home", "Home")</a> <i> /</i></li>
            <li>About</li>
        </ul>
    </div>
</div>
<div class="w3_content_agilleinfo_inner">
    <div class="container">
        <div class="inner-agile-w3l-part-head">
            <h2 class="w3l-inner-h-title">About</h2>
        </div>
        <div class="ab-w3l-spa">
            <img src="~/images/ab.jpg" alt="" class="img-responsive" />
            <p>
                The hostel management system is developed specifically for the hostel owners to manage different activities in the hostel. Right from promotions, receiving bookings through multiple OTAs, managing and selling beds and dorms to enhancing guests' experience.
            </p>
        </div>
        <!-- services -->
        <div class="w3_agileits_services_grids">
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/images/5.jpg" alt="service-img">
                    </div>
                    <h3>Deluxe Room</h3>
                    <p>We Provide Deluxe rooms, are modern decorated.</p>
                </div>
            </div>
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/images/6.jpg" alt="service-img">
                    </div>
                    <h3>Luxury Room</h3>
                    <p>We provides a luxurious accommodation experience.</p>
                </div>
            </div>
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/images/hostel3.jpg" width="225" height="255" h alt="service-img">
                    </div>
                    <h3>Environment</h3>
                    <p> We can provide a better environment to Guests</p>
                </div>
            </div>
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/images/kitchen5.jpg" alt="service-img">
                    </div>
                    <h3>Mess</h3>
                    <p>Hostel Mess is mandatory for all the hostel residents.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="featured-facility">
    <div class="spa-agile">
        <h3 class="tittle fea">Featured  Facilities</h3>
        <div class="col-md-3 spa-grid">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <h4>Restaurant </h4>
        </div>
        <div class="col-md-3 spa-grid">
            <i class="fa fa-glass" aria-hidden="true"></i>
            <h4>Shops</h4>
        </div>
        <div class="col-md-3 spa-grid lost">
            <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
            <h4>Gym</h4>
        </div>
        <div class="col-md-3 spa-grid lost">
            <i class="fa fa-car" aria-hidden="true"></i>
            <h4>Parking</h4>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="team-section">
    <div class="container">
        <h3 class="tittle">Our Team</h3>
        <div class="team-row">
            <div class="col-md-3 team-grids">
                <div class="team-img">
                    <img class="img-responsive" src="~/images/admin 1.jpg" width="255" height="300" alt="">
                    <div class="captn">
                        <ul class="top-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>

                    </div>
                </div>
                <div class="team-agile">
                    <h4>Usama</h4>

                </div>
            </div>
            <div class="col-md-3 team-grids">
                <div class="team-img">
                    <img class="img-responsive" src="~/images/admin 2.jpg" width="255" height="300"  alt="">
                    <div class="captn">
                        <ul class="top-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>

                    </div>
                </div>
                <div class="team-agile">
                    <h4>Ali</h4>

                </div>
            </div>

            <div class="col-md-3 team-grids">
                <div class="team-img">
                    <img class="img-responsive" src="~/images/member.jpg" width="255" height="300" alt="">
                    <div class="captn">
                        <ul class="top-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>

                    </div>
                </div>
                <div class="team-agile">
                    <h4>Jessica</h4>

                </div>
            </div>

            <div class="col-md-3 team-grids">
                <div class="team-img">
                    <img class="img-responsive" src="~/images/member.jpg" width="255" height="300" alt="">
                    <div class="captn">
                        <ul class="top-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>

                    </div>
                </div>
                <div class="team-agile">
                    <h4>Sofia</h4>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="plans-section">
    <div class="container">
        <h3 class="w3l-inner-h-title">Rates and Booking</h3>
        <div class="priceing-table-main">
            <div class="col-md-3 price-grid">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr1">
                        <h4>SINGLE ROOM</h4>
                        <h4><span>RS </span>3000</h4>
                        <h5>1 Month</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">

                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

                            </ul>
                            <h6 class="bed"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                        </div>
                        <div class="price-selet pric-sclr1">
                            <a href="#ab" class="scroll">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 price-grid ">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr2">
                        <h4>Family Room</h4>
                        <h4><span>RS </span>9000</h4>
                        <h5>1 Month</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">

                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

                            </ul>
                            <h6 class="bed two"><i class="fa fa-bed" aria-hidden="true"></i></h6>

                        </div>
                        <div class="price-selet pric-sclr2">
                            <a href="#ab" class="scroll">Book Now</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 price-grid lost">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr3">
                        <h4>DOUBLE ROOM</h4>
                        <h4><span>RS</span>12000</h4>
                        <h5>1 Month</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

                            </ul>
                            <h6 class="bed three"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                        </div>
                        <div class="price-selet pric-sclr3">
                            <a href="#ab" class="scroll">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 price-grid wthree lost">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr4">
                        <h4>STANDARD</h4>
                        <h4><span>RS</span> 10000</h4>
                        <h5>1 Month</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

                            </ul>
                            <h6 class="bed four"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                        </div>
                        <div class="price-selet pric-sclr4">
                            <a href="#ab" class="scroll">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Reservation Form</h4>
                <div class="book-form-inner">

                    <form action="#" method="post">
                        <div class="col-md-6 form-date-w3-agileits1">
                            <label><i class="fa fa-user" aria-hidden="true"></i> Name :</label>
                            <input type="text" name="name" placeholder="Your name" required="">
                        </div>
                        <div class="col-md-6 form-date-w3-agileits1 second-agile1">
                            <label><i class="fa fa-envelope" aria-hidden="true"></i> Email :</label>
                            <input type="email" name="email" placeholder="Your email" required="">
                        </div>
                        <div class="col-md-6 form-date-w3-agileits">
                            <label><i class="fa fa-calendar" aria-hidden="true"></i> Arrival Date :</label>
                            <input id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">

                        </div>
                        <div class="col-md-6 form-time-w3layouts second-agile">
                            <label><i class="fa fa-clock-o" aria-hidden="true"></i> Time :</label>
                            <input type="time">
                        </div>
                        <div class="col-md-6 form-date-w3-agileits">
                            <label><i class="fa fa-calendar" aria-hidden="true"></i> Departure Date :</label>
                            <input id="datepicker1" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">

                        </div>
                        <div class="col-md-6 form-time-w3layouts1 second-agile1">
                            <label><i class="fa fa-clock-o" aria-hidden="true"></i> Time :</label>
                            <input type="time">
                        </div>
                        <div class="col-md-6 form-left-agileits-w3layouts1 bottom-w3ls1">
                            <label><i class="fa fa-home" aria-hidden="true"></i> Choose a Room :</label>
                            <select class="form-control">
                                <option></option>
                                <option>Standard Double Room</option>
                                <option>Standard Family Room</option>
                                <option>Garden Family Room</option>
                                <option>Deluxe Double Room</option>
                                <option>Executive Junior Suite</option>
                                <option>Maisonette</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-left-agileits-w3layouts1 second-agile1">
                            <label><i class="fa fa-users" aria-hidden="true"></i> No.of People :</label>
                            <select class="form-control">
                                <option></option>
                                <option>1 Person</option>
                                <option>2 People</option>
                                <option>3 People</option>
                                <option>4 People</option>
                                <option>5 People</option>
                                <option>More</option>
                            </select>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="make wow shake" data-wow-duration="1s" data-wow-delay=".5s">
                            <input type="submit" value="Make a Reservation">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<script type="text/javascript" src="~/js/jquery.zoomslider.min.js"></script>
<script src="~/js/main.js"></script>
<script defer src="~/js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<link rel="stylesheet" href="~/css/jquery-ui.css" />
<script src="~/js/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
    });
</script>
<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<script src="~/js/bootstrap.js"></script>