
@{
    ViewBag.Title = "Hostels Gallery";
    Layout = "~/Views/_LayoutPage5.cshtml";
}
<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a>@Html.ActionLink("Home", "Home", "Home")</a> <i> /</i></li>
            <li>Hostels Gallery</li>
        </ul>
    </div>
</div>
<div class="w3_content_agilleinfo_inner">
    <div class="container">
        <div class="inner-agile-w3l-part-head">
            <h2 class="w3l-inner-h-title">Jinah Hostel </h2>
        </div>
        <div class="gallery-grids">
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/hostel5.jpg" data-lightbox="example-set" data-title="Hostel Building">
                            <img src="~/images/hostel5.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/single1.jpg" data-lightbox="example-set" data-title="Standard Room For Single Person">
                            <img src="~/images/single1.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/double1.jpg"  data-lightbox="example-set" data-title="Double Bedroom for two persons">
                            <img src="~/images/double1.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/kitchen1.png" data-lightbox="example-set" data-title="View of Kitchen">
                            <img src="~/images/kitchen1.png" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/mess2.jpeg" data-lightbox="example-set" data-title="View of Mess.">
                            <img src="~/images/mess2.jpeg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/location.jpg" data-lightbox="example-set" data-title="Near to PUCIT, Approximately 500m away.">
                            <img src="~/images/location.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>

    </div>
</div>
<div class="w3_content_agilleinfo_inner">
    <div class="container">
        <div class="inner-agile-w3l-part-head">
            <h2 class="w3l-inner-h-title">Doctors Hostel</h2>
        </div>
        <div class="gallery-grids">
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/hostel4.jpg" data-lightbox="example-set" data-title="Hostel Building">
                            <img src="~/images/hostel4.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/single2.jpg" data-lightbox="example-set" data-title="Standard Room For Single Person">
                            <img src="~/images/single2.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/double2.jpg" data-lightbox="example-set" data-title="Double Bedroom for two persons">
                            <img src="~/images/double2.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/kitchen2.jpg" data-lightbox="example-set" data-title="View of Kitchen">
                            <img src="~/images/kitchen2.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/mess2.jpg" data-lightbox="example-set" data-title="View of Mess.">
                            <img src="~/images/mess2.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/location.jpg" data-lightbox="example-set" data-title="Near to PUCIT, Approximately 400m away.">
                            <img src="~/images/location.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>

    </div>
</div>
<div class="w3_content_agilleinfo_inner">
    <div class="container">
        <div class="inner-agile-w3l-part-head">
            <h2 class="w3l-inner-h-title">Sadiq Mention</h2>
        </div>
        <div class="gallery-grids">
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/hostel3.jpg" data-lightbox="example-set" data-title="Hostel Building">
                            <img src="~/images/hostel3.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/single3.jpg" data-lightbox="example-set" data-title="Standard Room For Single Person">
                            <img src="~/images/single3.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/double3.jpg" data-lightbox="example-set" data-title="Double Bedroom for two persons">
                            <img src="~/images/double3.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/kitchen3.jpg" data-lightbox="example-set" data-title="View of Kitchen.">
                            <img src="~/images/kitchen3.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/mess3.jpg" data-lightbox="example-set" data-title="View of Mess.">
                            <img src="~/images/mess3.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/location.jpg" data-lightbox="example-set" data-title="Near to PUCIT, Approximately 1.5km away.">
                            <img src="~/images/location.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>

    </div>
</div>
<div class="w3_content_agilleinfo_inner">
    <div class="container">
        <div class="inner-agile-w3l-part-head">
            <h2 class="w3l-inner-h-title">Anarkali IN Hostel</h2>
        </div>
        <div class="gallery-grids">
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/hostel2.jpg" data-lightbox="example-set" data-title="Hostel Building">
                            <img src="~/images/hostel2.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/single4.jpg" data-lightbox="example-set" data-title="Standard Room For Single Person">
                            <img src="~/images/single4.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/double4.jpg" data-lightbox="example-set" data-title="Double Bedroom for two persons">
                            <img src="~/images/double4.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/kitchen4.jpg" data-lightbox="example-set" data-title="View of Kitchen">
                            <img src="~/images/kitchen4.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/mess4.jpg" data-lightbox="example-set" data-title="View of Mess.">
                            <img src="~/images/mess4.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/location.jpg" data-lightbox="example-set" data-title="Near to PUCIT, Approximately 600m away.">
                            <img src="~/images/location.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>

    </div>
</div>
<div class="w3_content_agilleinfo_inner">
    <div class="container">
        <div class="inner-agile-w3l-part-head">
            <h2 class="w3l-inner-h-title">Umar Hostel</h2>
        </div>
        <div class="gallery-grids">
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/hostel1.jpg" data-lightbox="example-set" data-title="Hostel Building">
                            <img src="~/images/hostel1.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/single5.JPG" data-lightbox="example-set" data-title="Standard Room For Single Person">
                            <img src="~/images/single5.JPG" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/double5.jpg" data-lightbox="example-set" data-title="Double Bedroom for two persons">
                            <img src="~/images/double5.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/kitchen5.jpg" data-lightbox="example-set" data-title="View of Kitchen">
                            <img src="~/images/kitchen5.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/mess5.jpg" data-lightbox="example-set" data-title="View of Mess.">
                            <img src="~/images/mess5.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/location.jpg" data-lightbox="example-set" data-title="Near to PUCIT, Approximately 700m away.">
                            <img src="~/images/location.jpg" width="640" height="300" alt="" />
                            <figcaption>
                                <p>Room <span>Booking</span></p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>

    </div>
</div>
<script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });</script>
<script type="text/javascript" src="~/js/jquery.zoomslider.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
        });
    });</script>
<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });

    });</script>
<script src="~/js/bootstrap.js"></script>
