
@{
    ViewBag.Title = "Accomodation Faciliation System";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


        <div class="special featured">
            <div class="container">
                <div class="ab-w3l-spa">
                    <h3 class="tittle">WELCOME TO OUR SYSTEM</h3>
                    <h4 class="tittle">Accomodation Faciliation System for Outsiders Families and Students</h4>
                    <p>
                        Hostel Management System is a software developed for managing bookings and providing informations of hostels. For the past few years the number of educational institutions are increasing rapidly. Thereby the number of hostels are also increasing for the accommodation of the students studying in various institution.
                    </p>
                </div>
                <div class="w3_agileits_services_grids">
                    <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                        <div class="w3_agileits_services_grid_agile">
                            <div class="w3_agileits_services_grid_1">
                                <img src="~/images/5.jpg" alt="service-img">
                            </div>
                            <h3>Deluxe Room</h3>
                            <p>We Provide Deluxe rooms, are modern decorated.</p>
                        </div>
                    </div>
                    <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                        <div class="w3_agileits_services_grid_agile">
                            <div class="w3_agileits_services_grid_1">
                                <img src="~/images/6.jpg" alt="service-img">
                            </div>
                            <h3>Luxury Room</h3>
                            <p>We provides a luxurious accommodation experience.</p>
                        </div>
                    </div>
                    <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                        <div class="w3_agileits_services_grid_agile">
                            <div class="w3_agileits_services_grid_1">
                                <img src="~/images/hostel3.jpg" width="225" height="255" h alt="service-img">
                            </div>
                            <h3>Environment</h3>
                            <p> We can provide a better environment to Guests</p>
                        </div>
                    </div>
                    <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                        <div class="w3_agileits_services_grid_agile">
                            <div class="w3_agileits_services_grid_1">
                                <img src="~/images/kitchen5.jpg" alt="service-img">
                            </div>
                            <h3>Mess</h3>
                            <p>Hostel Mess is mandatory for all the hostel residents.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="featured-facility">
            <div class="spa-agile">
                <h3 class="tittle fea">Featured  Facilities</h3>
                <div class="col-md-3 spa-grid">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <h4>Restaurant </h4>
                </div>
                <div class="col-md-3 spa-grid">
                    <i class="fa fa-glass" aria-hidden="true"></i>
                    <h4>Shops</h4>
                </div>
                <div class="col-md-3 spa-grid lost">
                    <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
                    <h4>Gym</h4>
                </div>
                <div class="col-md-3 spa-grid lost">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    <h4>Parking</h4>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="about-bottom">
            <div class="col-md-6 w3l_about_bottom_left">
                <div class="video-grid-single-page-agileits">
                    <div data-video="44fbHx7P-t8" id="video"> <img src="~/images/watch.jpg" alt="" class="img-responsive" /> </div>
                </div>

                <div class="w3l_about_bottom_left_video">
                    <h4>watch our video</h4>
                </div>
            </div>
            <div class="col-md-6 w3l_about_bottom_right one">
                <h3 class="tittle why">why choose us ?</h3>
                <p>Lorem Aenean aliquet nec mi et lacinia. Aliquam maximus iaculis mi, sed efficitur orci efficitur nec.</p>
                <div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title asd">
                                <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Affordable Prices
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body panel_text">
                                First things first! Of course one of the main arguments is the price – hostels are way cheaper than other hostels, often even more than 50%
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Atmosphere will ensure an unforgettable experience
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body panel_text">
                                You'll meet a lot of fellow travelers here and the atmosphere is much more relaxed and open minded
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Free Wifi
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body panel_text">
                                A lot of hotels still charge a fortune for Wifi. At hostels free Wifi is already part of the deal.
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Great location
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body panel_text">
                                Located in the center of  the city or at least in one of the ubercool areas. This way you not only save time but money for transportation.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="guests-agile">
            <h3 class="tittle">Our Guests</h3>
            <div class="w3_agileits_testimonial_grids">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3_agileits_testimonial_grid">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    <p>
                                        I am delighted to welcome the students in the hostels system. You will enjoy comfortable and meaningful stay in the hostels. The Hostels here provide study-friendly environment with sports and other facilities.
                                    </p>
                                    <img src="~/images/admin 2.jpg" width="100" height="100"  alt=" " class="img-responsive" />

                                </div>
                            </li>
                            <li>
                                <div class="w3_agileits_testimonial_grid">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    <p>
                                        I once more extend my best wishes to you all and wish you to enjoy a relaxed stay in the Hostels for accomplishing your eventual goal.
                                    </p>
                                    <img src="~/images/admin 1.jpg" width="100" height="100"  alt=" " class="img-responsive" />

                                </div>
                            </li>
                            <li>
                                <div class="w3_agileits_testimonial_grid">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    <p>
                                        Architecturally, the hostels are aesthetically laid out with plenty of open space and a lot of greenery. The rooms are comfortable, fitted with fan, lights, emergency light. Each wing of the hostel has several verandahs and balconies. Comforts are important which are trying to provide at the best of available resources.
                                    </p>
                                    <img src="~/images/admin 1.jpg" width="100" height="100" alt=" " class="img-responsive" />

                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <script type="text/javascript" src="~/js/jquery.zoomslider.min.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/simplePlayer.js"></script>
        <script>
            $("document").ready(function () {
                $("#video").simplePlayer();
            });
        </script>
        <script defer src="~/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <script src="~/js/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
            });
        </script>
        <script type="text/javascript" src="~/js/move-top.js"></script>
        <script type="text/javascript" src="~/js/easing.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <script src="~/js/bootstrap.js"></script>