
@{
    ViewBag.Title = "PreReservation";
    Layout = "~/Views/_LayoutPage7.cshtml";
}


<h3>Dear Customer!</h3>
<h3></h3>
<h3>In order to make a booking, you have to Register Your Self.</h3>
<h3>After Registration you are required to Login, because only authenticated users can make a booking.</h3>
<h3>THANK YOU! </h3>

